<h2>Добавить вершину</h2>
<form name="form" novalidate="">
  <div class='form-group'>
    <label>Название</label>
    <input class='form-control' ng-model='newMount.title' name="title" required="" />
    <p style="color: red;" ng-show="form.title.$touched && form.title.$error.required">Обязательное поле</p>
  </div>
  <div class='form-group'>
    <label>Страна</label>
    <select class='form-control' ng-model='newMount.country' ng-options="country.title for country in countries" name='country' required=""></select>
    <p style="color: red;" ng-show="form.country.$touched && form.country.$error.required">Обязательное поле</p>
  </div>
  <div class='form-group'>
    <label>Горная система</label>
    <select class='form-control' ng-model='newMount.mountainRange' ng-options="range.title for range in mountainRanges" name='mountainRange' required=""></select>
    <p style="color: red;" ng-show="form.mountainRange.$touched && form.mountainRange.$error.required">Обязательное поле</p>
  </div>
  <div class='form-group'>
    <label>Slug</label>
    <input class='form-control' ng-model='newMount.slug' name='slug' required="" th-url-validator />
    <div ng-messages="form.slug.$error" ng-show="form.slug.$touched">
      <p style="color: red;" ng-message="required">Обязательное поле</p>
      <p style="color: red;" ng-message="url">Только английские буквы, цифры и символы -, _</p>
    </div>
  </div>
  <div class='form-group'>
    <label>Высота</label>
    <input class='form-control' ng-model='newMount.alt' min="100" max="8848" name="alt" required="" th-numbers-formatter />
    <div ng-messages="form.alt.$error" ng-show="form.alt.$touched">
      <p style="color: red;" ng-message="required">Обязательное поле</p>
      <p style="color: red;" ng-message="min">Вершина не может быть ниже 100 метров</p>
      <p style="color: red;" ng-message="max">Вершина не может быть выше Эвереста</p>
    </div>
  </div>
  <div class='form-group'>
    <label>Описание</label>
    <div contenteditable="" th-editor ng-model='newMount.desc' style="border: 1px solid #ccc; min-height: 50px"></div>
    <textarea class='form-control' type='text' ng-model='newMount.desc' rows=3></textarea>
    <div ng-messages="form.desc.$error" ng-show="form.desc.$touched">
      <p style="color: red;" ng-message="required">Обязательное поле</p>
    </div>
  </div>
  <div class='form-group'>
    <label>Фото</label>
    <input class='form-control' type='file' th-readfile='newMount.photo' preview='newMountPreview' />
    <img ng-src='{{newMountPreview}}' />
  </div>
  <div class='form-group'>
    <label>Первое восхождение</label>
    <input class='form-control' ng-model='newMount.date' name='date' required="" th-date-parser />
    <div ng-messages="form.date.$error" ng-show="form.date.$touched">
      <p style="color: red;" ng-message="required">Обязательное поле</p>
    </div>
  </div>
  <button class='btn btn-primary' ng-click="addMount()" ng-disabled="form.$invalid">Добавить</button>
</form>
