<ng-include src="'components/mounts/new_form.html'"></ng-include>
<th-filter filter='filterMountsByRange(item)' filter-items='mountainRanges' title='Фильтр по регионам'>
  ведь вы всегда хотели фильтровать по регионам!
</th-filter>

<th-filter filter='filterMountsByCountry(item)' filter-items='countries' title='Фильтр по странам'></th-filter>


<h1>{{title}}</h1>
<table class="table">
  <tr>
    <th>Фото</th>
    <th>Название</th>
    <th>Страна</th>
    <th>Горная система</th>
    <th>Высота</th>
  </tr>
  <tr ng-repeat="mount in mounts">
    <td><img ng-src="{{mount.photo.url}}" width="200px" /></td>
    <td><a ng-href="mount/{{mount.objectId}}">{{mount.title}}</a></td>
    <td>{{mount.country}}</td>
    <td>{{mount.mountainRange}}</td>
    <td>{{mount.alt}}</td>
  </tr>
</table>
